<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>List of patient</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row"><h2>Observations List</h2></div>
    <div class="row">
        <a href="/observationForm" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Observations</th>
                <th>Id du patient</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="observation : ${observations}">
                <td style="width: 10%" th:text="${observation.id}"></td>
                <td th:text="${observation.content}"></td>
                <td th:text="${observation.idPatient}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/observationForm(id=${observation.id})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/observation/delete/{id}(id=${observation.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>